{{ define "main" }}
<div class="home-head">
  <h1 class="home-title">{{ .Site.Title }}</h1>
  {{ with .Site.Params.description }}<p class="home-desc">{{ . }}</p>{{ end }}
  <div class="home-rule"></div>
</div>
<ul class="post-list">
  {{ range (.Site.RegularPages.ByDate.Reverse) }}
  <li class="post-card">
    <a class="tt" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ with .Description }}<p class="excerpt">{{ . }}</p>{{ end }}
    <span class="date">{{ .Date.Format "2006.01.02" }}</span>
  </li>
  {{ end }}
</ul>
{{ if not .Site.RegularPages }}<p class="home-desc">아직 발행된 글이 없습니다.</p>{{ end }}
{{ end }}
